<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" *ngFor="let team of teams; let i = index">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title col-md-9">
              {{ team.teamDetails.full_name }} [{{ team.teamDetails.abbreviation }}]
            </h5>
            <i class="fa fa-close col-md-3" (click)="closedCard(i)"></i>
          </div>
          <!-- <h3 class="card-title"></h3> -->
          <h4 class="conference">{{ team.teamDetails.conference }} conference</h4>
          <hr class="hr hr-blurry" />
        <div class="row">
          <h3 class="result">Result of past 12 games :</h3>
          <div class="row col-sm-6">
            <div class="col-sm-2 dots" *ngFor="let result of team.modifiedTeamResults">
              <span class="dot" [ngClass]="result.winner ? 'greenColor' : 'redColor'">{{result.winner ? 'W' : 'L'}}</span>
            </div>
          </div>
          <div class="row col-sm-6">
            <img
              class="card-img"
              src="https://interstate21.com/nba-logos/{{
                team.teamDetails.abbreviation
              }}.png"
              alt="{{ team.teamDetails.full_name }} Team Logo"
            />
          </div>
          <h3 class="result"> Avg pts scored : {{team.avgPts}}</h3>
          <h3 class="result"> Avg pts conceded: {{team.concededPts}}</h3>

          <button
            id="results"
            class="btn resultbtn btn-success"
            type="submit"
            (click)="getResults(team.teamDetails)"
          >
            See game results >>
          </button>
        </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
